name: lint

on:
  pull_request:
  push:
    branches: [main]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Ruff format
        uses: astral-sh/ruff-action@v3
        with:
          args: format .

      - name: Ruff check
        uses: astral-sh/ruff-action@v3
        with:
          args: check . --output-format=github
